* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: "Droid Sans", sans-serif;
  font-weight: normal; }

body, html, p, textarea, input {
  color: #888888;
  font-family: "Droid Serif", serif;
  font-weight: normal; }

code {
  color: #888888;
  font-family: "Consolas", "Monaco", monospace;
  font-weight: normal; }

pre {
  overflow: scroll;
  background: #eeeeee;
  padding: 10px; }

.content {
  width: 980px;
  margin: 80px auto; }

.formats .format {
  display: inline-block; }

.zip {
  background: url("../images/zip.png");
  display: block;
  width: 128px;
  height: 128px; }

.tar {
  background: url("../images/tar.png");
  display: block;
  width: 128px;
  height: 128px; }

pre .support.tag {
  color: #000088; }
pre .support.attribute {
  color: #880000; }
pre .string.value {
  color: #008800; }
